/* importing google fonts */
@import url('https://fonts.googleapis.com/css2? family= Lato & family= Roboto:wght@300 & display=swap');



/*importing all components */
@import url("components/container.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/button.css");

/* General style rules for fonts and colors */

body	{
	font-family: "Lato" ;
	background-image: url('../image/r1.png');
	background-size: cover;
	background-position: center;
	height: 2100px;
}


#navbar {
	background-color: black;
	display: flex;
  align-items: end;
  height: top;
  justify-content: space-between;
	padding: 20px;
}

.avatar {
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

